body {
  background: #232323;
  margin: 0;
  font-family: "Montserrat", "Avenir"
}

h1 {
  text-transform: uppercase;
  /* change the default h1 weight to normal */
  font-weight: normal;
  color: white;
  text-align: center;
  background: steelblue;
  /* remove the upper space of h1 */
  margin: 0;
  line-height: 1.1;
  padding:20px 0;
}

#displayColor {
  font-size: 200%;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-size: inherit;
  color: steelblue;
  font-weight: 700;
  letter-spacing: 1px;
  /* apply transition to all button actions */
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  outline: none;
}

button:hover {
  background: steelblue;
  color: white;
}

#message {
  /*adding space between new game and easy*/
  display: inline-block;
  width: 20%;
}
.square {
  width:30%;
  background: white;
  padding-bottom: 30%;
  /* adding space between different divs*/
  margin: 1.66%;
  /* place divs in the same line*/
  float:left;
  border-radius: 15%;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
}

#container{
  width: 600px;
  margin:20px auto;
}

#stripe {
  color: black;
  text-align: center;
  background: white;
  height: 30px;
}

.selected {
  background: steelblue;
  color: white;
}
