body {
  background: #232323;
}

h1 {
  color: white;
  text-align: center;
}
.square {
  width:30%;
  background: white;
  padding-bottom: 30%;
  /* adding space between different divs*/
  margin: 1.66%;
  /* place divs in the same line*/
  float:left;
}

#container{
  width: 600px;
  margin:0 auto;
}

#stripe {
  color: black;
  text-align: center;
  background: white;
  height: 30px;
}

.selected {
  background: blue;
}
