<% include partials/header %>
<div>
    <h1>Welcome to YelpCamp</h1>
    <a href="/campgrounds/new">Create a new campground</a>
    <% campgrounds.forEach(function(campground) { %>
        <h4><%= campground.name %></h4>
        <img src="<%= campground.image %>">
    <% }); %>
</div>
